body{
    display: flex;
    flex-wrap: wrap;
    position:relative;
}

main form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.top_div{
    display: flex;
    width: 1000px;
    justify-content: space-between;
    align-items: center;
}
h1{
    margin-bottom: 100px;
}
.current_user_data{
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:600px;
    margin-bottom: 10px;
}
.current_user_data input{
    font-size: 20px;
    padding:5px;
    height:100%;
    outline: none;
    border: none;
    width:360px;
    background-color: rgba(125,125,125,0.22);
    border-radius: 10px;
    border:none;
}
.current_user_img{
    position: relative;

}
.current_user_img img{
    width:200px;
    height:200px;
    border-radius: 50%;
}

.img_change_button{
    position: absolute;
    bottom:10px;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    background-color: #7CB518;
    font-size: 16px;
    width:36px;
    height:36px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bottom_div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width:1000px;
}
.bottom_div p{
    background-color: rgba(125,125,125,0.22);
    border-radius: 10px;
    padding:3px 6px 3px 6px;
    width:360px;
}
.preferences_change_button {
    border: none;
    width: 220px;
    background-color: #7CB518;
    border-radius: 10px;
    color:white;
    font-size: 22px;
    cursor: pointer;
    margin-bottom: 30px;
    text-align: center;
    height: 26px;
}
.vegan_spicy{
    font-size: 24px;
    margin-bottom: 30px;
}
.password_change_button{
    border: none;
    width: 220px;
    background-color: #7CB518;
    border-radius: 10px;
    color:white;
    font-size: 22px;
    cursor: pointer;
    margin-bottom: 30px;
    text-align: center;
    height: 26px;

}
.save_changes_button{
    border: none;
    width: 280px;
    background-color: #7CB518;
    border-radius: 10px;
    color:white;
    font-size: 28px;
    cursor: pointer;
    margin-top: 30px;
}

.preferences_checklist{
    z-index: 99;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.7);
    padding: 0;
    display: none;
}

.preferences_checklist form{
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 199;
    width: clamp(300px, 75%, 900px);
    padding: 40px 80px;
}

.vegan_spicy div {
    width: fit-content;
}

.change_password_block {
    background-color: white;
    color: black;
    z-index: 99;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.7);
    padding: 0;
    display: none;
}

.change_password_block form {
    border-radius: 1rem;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 199;
    width: clamp(300px, 50%, 700px);
    padding: 40px 80px;
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 2fr; 
    gap: 0; 
    grid-template-areas: 
      "title inputs"
      "checks inputs"
      "buttons buttons";  
}

.change_password_block h2 {
    grid-area: title;
    font-size: 30px;
}

.change_password_block .change_password_block--checks {
    grid-area: checks;
}

.change_password_block .inputs {
    grid-area: inputs;
}

.change_password_block .buttons {
    grid-area: buttons;
    padding: 0;
    justify-content: center;
    margin-top: 20px;
}

.change_password_block ul {
    list-style-type: none;
    padding-left: 0;
}

.change_password_block li {
    position: relative;
}

.change_password_block li span {
    margin-left: 20px;
}

.change_password_block li i {
    position: absolute;
}

.change_password_block .correct i {
    color: green;
}

.change_password_block .denied i {
    color: red;
}

.change_password_block .inputs {
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 10px;
}

.change_password_block .inputs input {
    padding: 1rem .5rem;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 18px;
}

.change_password_block button {
    padding: 1rem .5rem;
    border-radius: 1rem;
    width: 150px;
    border: none;
    cursor: pointer;
}

.change_password_block .save {
    background-color: lightgray;
    color: white;
    pointer-events: none;
}

.change_password_block .cancel {
    background-color: lightgray;
    color: black;
}

