body{
    margin:0;
    font-family: 'Inconsolata', monospace;
    min-height: 100svh;
    display:flex;
    flex-direction: row;
    gap:0;
}
nav{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: #7CB518;
    min-height:100svh;
    padding: 0 20px 0 20px;
    font-size:36px;
    color:white;
    min-width: 200px;
}
nav a{
    text-decoration: none;
    color:white;
}