body{
    margin:0;
    font-family: 'Inconsolata', monospace;
    min-height: 100svh;
}
nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #7CB518;
    height:75px;
    padding: 0 20px 0 20px;
    font-size:36px;
    color:white;
}
nav a{
    text-decoration: none;
    color:white;
}