.navigation {
    position: fixed;
    font-size: 30px;
    color: white;
    left: -100%;
    /* left: 0; */
    top: 0;
    height: 100%;
    width: 100vw;
    max-width: 500px;
    overflow: hidden;
    z-index: 50;
    transition: .5s;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 100%;
}

nav > * {
    z-index: 20;
}

.nav-active {
    left: 0;
}

nav h2 {
    margin: 20px 0 0;
}

nav ul li a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: white;
    margin: 0 auto;
}

nav ul {
    box-sizing: border-box;
    list-style-type: none;
    width: 100%;
    padding: 0;
    margin-top: 50px;
}

nav ul li {
    text-align: center;
    padding: 8px;
    margin: 50px auto;
    max-width: 200px;
}


nav img {
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
    height: 100%;
    z-index: 2;
}

.hamburger {
    position: fixed;
    z-index: 999;
}

.hamburger.is-active .hamburger-box .hamburger-inner,
.hamburger.is-active .hamburger-box .hamburger-inner::before,
.hamburger.is-active .hamburger-box .hamburger-inner::after {
    background-color: white;    
}

@media screen and (min-width: 576px) {
    .navigation nav ul li {
        margin: 20px auto;
    }

    .navigation nav ul li:last-child {
        margin: 60px auto;
    }
}

@media screen and (min-width: 992px) {
    .navigation {
        left: 0;
        width: 300px;
        transition: none;
        overflow: hidden;
        z-index: 50;
    }

    .hamburger {
        display: none;
    }

    nav ul li:last-child {
        margin-top: 100px;
    }    
}