body{
    display: flex;
    flex-wrap: wrap;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:30px;
    margin-left: 400px;
    width: 100vw;
    max-width: 1200px;
}
h1{
    margin-bottom: 100px;
    display: flex;
}
img{
    margin-top: 30px;
    width:700px;
    height: 400px;
}
.top_div{
    width: 100%;
    display:flex;
    justify-content: space-between;
    padding:50px;
}
p{
    margin: 10px;
}
.author_div{
    display: flex;
    align-items: center;
    gap:20px;
    font-size: 28px;
    background-color: rgba(125,125,125,0.22);
    padding:0 15px 0 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    min-height: 50px;
}
.author_div img{
    border-radius: 50%;
    margin:0;
    width: 28px;
    height: 28px;
}
.author_div:last-child{
    width:80px;
}
.bottom_div{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size:20px;
}
.ingredients{
    width:500px;
}
.ingredients i{
    font-size: 14px;
}
td{
    padding: 0 70px 10px 0;
}
.preparing_method{
    width:700px;
    text-align: justify;
}
.shopping_list_add button{
    margin-top: 50px;
    width: 180px;
    background-color: #7CB518;
    border: none;
    font-size: 16px;
    font-weight: 600;
    color: white;
    padding:10px;
    cursor: pointer;
}
.shopping_list_add button:hover{
    opacity: 0.9;
}