main{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #424242;
    height:100svh;
}
#right{
    display: flex;
    align-items: center;
    justify-content: center;
}
section{
    display: flex;
    gap:30px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 35px;
    padding: 20px 100px 40px 100px;
    /*min-height: 560px;*/
    font-size:18px;
    background: #1E1E1E;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5.5px);
}
h3{
    color:white;
    font-size:36px;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
section form label{
    padding:10px 0 10px 0;
    font-weight: 500;
    display: flex;
    align-self: flex-start;
    max-width: 300px;
    color:white;
}
section form input{
    width:280px;
    padding:10px;
    font-size:18px;
}
section form button{
    margin-top:30px;
    width: 180px;
    height: 40px;
    background-color: #7CB518;
    cursor: pointer;
    border: none;
    color:white;
    font-size:18px;
    border-radius: 15px;

}
    section form button:hover{
        opacity: 0.8;
    }
section a{
    cursor: pointer;
    text-decoration: none;
    color:white;
}
    section a:hover{
        color: #7CB518;
}
i{
    font-weight: bold;
}
.red{
    color:red;
    font-size:16px;
}